{% extends "manage.html" %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">编辑用例</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-left: 20px;margin-right: 20px; width: 80%">

                    <!-- URL -->
                    <div class="input-group option">
                        <span class="input-group-addon option-tile">URL：</span>
                        <input id="req_url" type="text" class="form-control" value="http">
                    </div>

                    <!-- 请求方法 -->
                    <div class="option">
                        <label>* 请求方法：</label>
                        <label class="radio-inline">
                            <input type="radio" name="req_method" id="get" value="get" checked> GET
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="req_method" id="post" value="post"> POST
                        </label>
                    </div>

                    <!-- 请求头 -->
                    <div class="input-group">
                        <span class="input-group-addon option-tile">header</span>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <div id="headerEditor" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 10px;">
                        <label>* 参数类型：</label>
                        <label class="radio-inline">
                            <input type="radio" name="par_type" id="form" value="form" checked> form-data
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="par_type" id="json" value="json"> JSON
                        </label>
                    </div>

                    <div class="input-group" style="height: 230px;">
                        <span class="input-group-addon option-tile">参数：</span>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <div id="parameterEditor" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <p>说明：以字典的方式设置参数，如：{"id":1, "name":"名称"}</p>

                    <div style="float: right;margin-right: 10px;">
                        <button type="button" class="btn btn-primary" onclick="sendFun()">发送</button>
                    </div>

                    <div style="margin-top: 30px;">
                        <p>返回结果：</p>
                        <textarea id="result" class="form-control" rows="10" name=textarea></textarea>
                    </div>

                    <!-- 断言按钮 -->
                    <div  style="float: right;margin-right: 10px; margin-top: 20px; height: 50px;">
                        <button type="button" class="btn btn-primary" onclick="assertFun()">断言</button>
                    </div>

                    <div style="margin-top: 30px;">
                        <label> 断言方法：</label>
                        <label class="radio-inline">
                            <input type="radio" name="assert_type" id="include" value="include" checked> 包含
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="assert_type" id="equal" value="equal"> 相等
                        </label>
                    </div>

                    <div style="margin-top: 10px;">
                        <textarea id="assert" class="form-control" rows="10" name=textarea></textarea>
                    </div>

                    <!-- 选择项目/模块 -->
                    <div class="form-group" style="margin-top: 20px; height: 30px;">
                        <label style="float: left; margin-bottom: 0px; margin-top: 8px;">项目/模块：</label>
                        <span style="float: left">
                            <select class="form-control" id="selectProject"
                                    style="width: 180px">
                            </select>
                        </span>
                        <span style="float: left">
                            <select class="form-control" id="selectModule"
                                    style="width: 180px">
                            </select>
                        </span>
                    </div>

                    <!-- 用例的名称 -->
                    <div class="input-group option">
                        <span class="input-group-addon option-tile">名称：</span>
                        <input id="case_name" type="text" class="form-control">
                    </div>

                    <!-- 保存用例 -->
                    <div style="float: right;margin-right: 10px; margin-top: 20px; height: 50px;">
                        <button type="button" class="btn btn-primary" onclick="saveFun()">保存</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/jquery.jsonview.css">
<script src="/static/js/jquery.jsonview.js"></script>
<link href="/static/css/jsoneditor.css" rel="stylesheet">
<script src="/static/js/jsoneditor.js"></script>
<script src="/static/js/manage.js"></script>
<script src="/static/js/case.js"></script>
<script type="text/javascript">

    //获取用例的信息
    getCaseInfo();

    //初始化JSONeditor编辑框
    var headers = document.getElementById("headerEditor");
    var parameters = document.getElementById("parameterEditor");
    var options = {
        mode: "code"
    };
    var headerEditor = new JSONEditor(headers, options);
    var parameterEditor = new JSONEditor(parameters, options);

    function sendFun() {
        var url = $('#req_url').val();
        var method = $('input[name="req_method"]:checked').val();
        var parameter_type = $('input[name="par_type"]:checked').val();

        var header = headerEditor.get();
        var header_str = JSON.stringify(header, null, 2);
        var parameter_body = parameterEditor.get();
        var parameter_body_str = JSON.stringify(parameter_body, null, 2);

        if (req_url == ""){
            window.alert("URL地址不能为空");
            return;
        }

        $.get("/api/send_req/", {
            url: url,
            method: method,
            header: header_str,
            par_type: parameter_type,
            par_value: parameter_body_str,
        },
        function (resp) {
            if(resp.code == 10200) {
                document.querySelector("#result").value = resp.data;
            } else {
                window.alert(resp.message);
            }

        });
    }

    function assertFun() {
        var result_text = $('#result').val();
        var assert_type = $('input[name="assert_type"]:checked').val();
        var assert_text = $('#assert').val();

        if(result_text == "" || assert_text == ""){
            window.alert("断言的结果不能为空！");
        }

        $.post("/api/assert_result/", {
            result_text: result_text,
            assert_type: assert_type,
            assert_text: assert_text,
            }, function (resp) {
                window.alert(resp.message);
        });
    }

    // 保存用例
    function saveFun() {
        let currentURL = window.location.href;
        var caseId = currentURL.split("/")[5];
        var url = $('#req_url').val();
        var method = $('input[name="req_method"]:checked').val();
        var parameter_type = $('input[name="par_type"]:checked').val();
        var header = headerEditor.get();
        var header_str = JSON.stringify(header, null, 2);
        var parameter_body = parameterEditor.get();
        var parameter_body_str = JSON.stringify(parameter_body, null, 2);

        var result_text = $('#result').val();
        var assert_text = $('#assert').val();
        var assert_type = $('input[name="assert_type"]:checked').val();

        var module_id = $('select[id="selectModule"]').val();
        var name = $("#case_name").val();

        if (req_url == "") {
            window.alert("URL地址不能为空");
            return;
        }

        $.post("/api/save_case/", {
            mid: module_id,
            cid: caseId,
            name: name,
            url: url,
            method: method,
            header: header_str,
            par_type: parameter_type,
            par_value: parameter_body_str,
            result_text: result_text,
            assert_text: assert_text,
            assert_type: assert_type,

        },function (resp) {
            if (resp.code == 10200) {
                window.alert(resp.message);
            } else {
                window.alert(resp.message);
            }

        });

    }

</script>

<style>
    .option {
        height: 50px;
    }

    .option-tile {
        margin-top: 5px;
        margin-right: 10px;
    }

    div.jsoneditor {
        border: thin solid #ced4da;
    }

    div.jsoneditor-menu {
        display: none;
    }

    .ace-jsoneditor .ace_gutter {
        background: white;
    }

    div.jsoneditor-outer.has-main-menu-bar {
        margin-top: 0px;
        padding-top: 0px;
    }

    .per-label {
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 1rem;
    }
</style>

{% endblock %}