{% extends "manage.html" %}
{% block manage %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">创建任务</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-left: 20px;margin-right: 20px; margin-bottom: 20px; width: 80%">

					<div class="form-group">
						<label for="task_name">名称：</label>
						<input id="task_name" type="text" class="form-control">
					</div>

					<div class="form-group">
						<label for="task_desc">描述：</label>
						<textarea id="task_desc" class="form-control" rows="3" name=textarea></textarea>
					</div>

                    <div class="form-group">
						<label for="task_desc">用例：</label>
                        <div class="card" style="width: 50%">
                            <div class="card-body">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="add_task()">创建</button>
					<br>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.4.2/jquery.js"></script>
<link href="https://cdn.bootcss.com/zTree.v3/3.5.39/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.all.js"></script>
<script type="application/javascript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
		check: {
			enable: true,
			chkStyle: "checkbox"
		}
	};
    var zNodes;

    $(document).ready(function () {

        $.get("/task/case_node/", {}, function (resp) {
            zNodes = resp.data;
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    });

    // 保存任务
    function add_task() {
        var taskName = $('#task_name').val();
        var taskDesc = $('#task_desc').val();
        console.log("task", taskName, taskDesc);

        if(taskName == ""){
            alert("任务的名称不能为空！");
            return;
        }

        zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
		var nodes = zTreeObj.getCheckedNodes(true);

		var cases =  new Array();
		for (var i = 0; i < nodes.length; i++) {
			if (nodes[i].isParent == false){
				cases.push(nodes[i].id);
			}

		}
		// 将列表转为字符串
		var casesStr = JSON.stringify(cases);
		$.post("/task/save_task/", {
		    task_id: 0,
			name: taskName,
			desc: taskDesc,
			cases: casesStr
			},
			function (resp) {
				if(resp.status == 10200){
					window.alert("创建任务成功！")
				}
			});
    }

</script>

{% endblock %}