{% extends "manage.html" %}
{% block manage %}

<!-- 任务列表 -->
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">任务管理</h5>
        <button onclick="add_task()" type="button" class="btn btn-primary" style="float:right">创建</button>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                       role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                    <tr role="row">
                        <th>id</th>
                        <th>名称</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        {% if task.status == 0 %}
                        <td>未执行</td>
                        {% endif %}

                        {% if task.status == 1 %}
                        <td>执行中</td>
                        {% endif %}

                        {% if task.status == 2 %}
                        <td>已完成</td>
                        {% endif %}

                        <td>{{ task.create_time | date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="/task/edit/{{task.id}}/">编辑</a>
                            <a href="#" onclick="delete_task('{{task.id}}')">删除</a>
                            <a href="#" onclick="run_task('{{task.id}}')">执行</a>
                            <a href="/testtask/result/{{task.id}}/">结果</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 翻页 -->
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">
                    Showing 1 to 8 of 8 entries
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled"
                            id="datatables-dashboard-traffic_previous">
                            <a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="0" tabindex="0"
                               class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="1" tabindex="0"
                               class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item next disabled" id="datatables-dashboard-traffic_next">
                            <a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0"
                               class="page-link">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    
    function add_task() {
        window.location.href = "/task/add/";
    }
    //发送方法
    function run_task(tid) {
        console.log("运行任务的id", tid);

        $.post("/task/run_task/", {
                task_id: tid
            },
            function (resp) {
                if (resp.status == 10200) {
                    window.alert(resp.message);
                    window.location.reload();  // 刷新页面
                }
            });
    }

    function delete_task(tid) {
        console.log("666");
        if(confirm("确定要删除吗?")){
            window.location.href = "/task/delete/"+tid+"/";
         }else{
           return false;
         }
         window.location.href = url;

    }


</script>


{% endblock %}