{% extends "base.html" %}
{% block base %}
<div class="wrapper">
    <nav id="sidebar" class="sidebar">

        <!--导航-->
        <div class="sidebar-content ">
            <a class="sidebar-brand" href="index.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-box align-middle">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <span class="align-middle">iTEST 测试平台</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Main
                </li>

                <!--项目管理-->
                <li class="sidebar-item" id="project">
                    <a href="/manage/project_list/" class="sidebar-link" aria-expanded="true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-monitor align-middle">
                            <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                            <line x1="8" y1="21" x2="16" y2="21"></line>
                            <line x1="12" y1="17" x2="12" y2="21"></line>
                        </svg>
                        <span class="align-middle">项目管理</span>
                    </a>
                </li>


                <!--模块管理-->
                <li class="sidebar-item" id="module">
                    <a href="/manage/module_list/" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-grid align-middle">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                        <span class="align-middle">模块管理</span>
                    </a>
                </li>

                <!--用例管理-->
                <li class="sidebar-item" id="case">
                    <a href="/case/" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-list align-middle">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>
                            <line x1="3" y1="6" x2="3" y2="6"></line>
                            <line x1="3" y1="12" x2="3" y2="12"></line>
                            <line x1="3" y1="18" x2="3" y2="18"></line>
                        </svg>
                        <span class="align-middle">用例管理</span>
                    </a>
                </li>

                <!-- 任务管理 -->
                <li class="sidebar-item" id="task">
                    <a href="/task/" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-calendar align-middle">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        <span class="align-middle">任务管理</span>
                    </a>
                </li>

                <!-- Mock Server -->
                <li class="sidebar-item" id="mock">
                    <a href="#documentation" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-sliders align-middle">
                            <line x1="4" y1="21" x2="4" y2="14"></line>
                            <line x1="4" y1="10" x2="4" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="12"></line>
                            <line x1="12" y1="8" x2="12" y2="3"></line>
                            <line x1="20" y1="21" x2="20" y2="16"></line>
                            <line x1="20" y1="12" x2="20" y2="3"></line>
                            <line x1="1" y1="14" x2="7" y2="14"></line>
                            <line x1="9" y1="8" x2="15" y2="8"></line>
                            <line x1="17" y1="16" x2="23" y2="16"></line>
                        </svg>
                        <span class="align-middle">Mock Sever</span>
                    </a>
                </li>

                <li class="sidebar-item ">
                    <a href="#ui" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-check-square align-middle">
                            <polyline points="9 11 12 14 22 4"></polyline>
                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                        </svg>
                        <span class="align-middle">测试工具</span>
                    </a>
                </li>
            </ul>
        </div>


    </nav>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light bg-white">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>

            <form class="form-inline d-none d-sm-inline-block">
                <input class="form-control form-control-no-border mr-sm-2" type="text" placeholder="Search projects..."
                       aria-label="Search">
            </form>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                            <img src="/static/img/avatar.jpg" class="avatar img-fluid rounded-circle mr-1"
                                 alt="Chris Wood">
                            <span class="text-dark">{{user}}</span>
                            <a href="/logout/">退出</a>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="container-fluid p-0">
                {% block manage %}

                {% endblock %}
            </div>
        </main>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var local_url = document.location;
        var path = local_url.pathname.split("/")[1];

        if (path == "manage") {
            console.log("aaa", path);
            var path2 = local_url.pathname.split("/")[2];
            if(path2 == "project_list"){
                document.querySelector("#project").className += " active";
            }
            if(path2 == "module_list"){
                document.querySelector("#module").className += " active";
            }
        } else if (path == "case") {
            document.querySelector("#case").className += " active";
        } else if (path == "task") {
            document.querySelector("#task").className += " active";
        }

    });
</script>
{% endblock %}
