{% extends "manage.html" %}
{% block manage %}

<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0" style="float:left">变量列表</h5>
        <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#myModal">创建</button>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="float:left">添加变量</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="key">key</label>
                        <input type="text" class="form-control" id="key">
                    </div>
                    <div class="form-group">
                        <label for="value">value</label>
                        <input type="text" class="form-control" id="value">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="AddVariable()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                    role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                        <tr role="row">
                            <th>Key</th>
                            <th>value</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in variables %}
                        <tr role="row" class="odd">
                            <td>{{ v.key }}</td>
                            <td>{{ v.value }}</td>
                            <td>
                                <a style="color: #47bac1" onclick="EditVariable('{{v.id}}', '{{v.key}}', '{{v.value}}')" data-toggle="modal" data-target="#myModal">编辑</a>
                                <a style="color: #47bac1" onclick="DeleteVariable('{{v.id}}')">删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 翻页 -->
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">
                    <!--Showing 1 to 8 of 8 entries-->
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate">
                    <ul class="pagination">
                        {% if cases.has_previous %}
                            <li class="paginate_button page-item previous"
                                id="datatables-dashboard-traffic_previous">
                                <a href="?page={{ cases.previous_page_number }}" aria-controls="datatables-dashboard-traffic" data-dt-idx="0" tabindex="0"
                                    class="page-link">Previous</a>
                            </li>
                        {% endif %}
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="1" tabindex="0"
                                class="page-link">{{cases.number}}</a>
                        </li>

                        {% if cases.has_next %}
                        <li class="paginate_button page-item next" id="datatables-dashboard-traffic_next">
                            <a href="?page={{ cases.next_page_number }}" aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0"
                                class="page-link">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script>
    var variableId = 0;

    // 添加变量
    function AddVariable() {
        let key = $("#key").val()
        let value = $("#value").val()

        $.post("/variable/add_variable/", {
                vid: variableId,
                key: key,
                value: value,
            },
            function (resp) {
                if (resp.status == 10200) {
                    window.alert(resp.message);
                    window.location.reload();  // 刷新页面
                }
            });
    }

    // 编辑变量
    function EditVariable(vid, key, value){
        variableId = vid;
        $("#key").val(key);
        $("#value").val(value);
        console.log("v", variableId);
    }

    // 删除变量
    function DeleteVariable(vid){
        $.post("/variable/delete_variable/", {
                vid: vid,
            },
            function (resp) {
                if (resp.status == 10200) {
                    window.alert(resp.message);
                    window.location.reload();  // 刷新页面
                }
            });
    }

</script>

{% endblock %}